@charset "utf-8";

@media(min-width: 768px) {

    nav #burguer , #home { 
        display: none;

    }

    nav ul { 
        display: block;
        display: flex;
        gap: 60px;
    }

    nav li a { 
        text-decoration: none;
        color: black;
        font-family: "Playfair Display", serif;
        font-size: 1.5rem;
    }

    nav li a:hover { 
        color: rgba(157, 157, 157, 0.847);
        transition: 0.5s;

    }

    .container-cards { 
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }

    .cards { 
        width: 200px;
        
    }

    
    .container-cards .cards:hover {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.497);
        transition: 0.5s;
    
    }

    .cards p { 
        font-size: 1rem;

    }

    .cards h3 { 
        font-weight: 400;
        width: 100%;
        font-size: 1rem;
    }
    
    main .teste { 
        display: none;
    }
    

}


@media(min-width:1024px) { 

    main { 
        width: 80%;
        margin: auto;
        
    }

    .cards { 
        width: 400px;
    }

    .hero { 
        background-color: #f5f5f5;
    }

}