@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root { 
    --tittleFont : "Playfair Display", serif;
    --tittleFont2 : "Merriweather", serif;
    --textFont : "Lora", serif;
    --texFont2 : "Source Code Pro", serif;

}

* { 
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

body, html { 
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}


nav { 
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;    
    display: flex;
    justify-content: space-around;
    padding: 22px;
    background-color: #ffffffee;
    z-index: 99999;
    
}

nav i { 
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
    box-shadow: 1px 1px 1px #dddddd31;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.219);
}

nav i:hover { 
    transform: scale(1.1);
    color: rgb(136, 135, 135);
}

ul { 
    
    list-style: none;
    display: none;
    gap: 20px;

}

.menu { 
   position: fixed;
   top: 0;
   left: 0;
   width: 200px;
   height: 100%;
   background: #ffffffbf;
   padding-top: 60px;
   box-shadow: 3px 0 10px rgb(0, 0, 0.6);
   opacity: 0;
   transform: translateX(-100%);
   transition: transform 0.5s ease-out, opacity 0.5s ease-out;
   z-index: 99999;
}

.menu.active { 
    opacity: 1;
    transform: translateX(0);

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu a { 
    text-align: left;
    display: block;
    text-decoration: none;
    color: rgb(23, 22, 22);
    font-size: 1.5rem;
    padding: 8px;

}


.menu a:hover {    
    background-color: #5555557d;
    transition: 0.5s;
    
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
    width: 100%;
    background-color: #fafafa;

}

h1 { 
    font-family: var(--tittleFont2);
    font-size: 3rem;
    margin-bottom: 8px;
    
}

body h2{
    font-family: var(--texFont2);
    font-weight: 400;
    font-size: 1.4rem;
}

body h3 { 
    font-family: var(--tittleFont2);
    margin-top: 30px;
    font-size: 1.5rem;
}

.hero p { 
    font-family: var(--tittleFont2);
    font-size: 1.1rem;
    margin: auto;
    width: 90%;
    padding: 12px;
    text-align: center;
    line-height: 1.9rem;
    font-weight: 100;

}

.social-media-links { 
    margin-top: 12px;
}

#linkedin-icon, #git-icon { 
    font-size: 3rem;
    color: black;
    margin: 12px;
}

#linkedin-icon:hover { 
    transform: scale(1.1);
    color: rgb(136, 135, 135);

}


#git-icon:hover { 
    transform: scale(1.1);
    color: rgb(136, 135, 135);

}

.about { 
    border-top: 1px solid #dad8d8;
    display:flex;
    flex-direction: column;
    background-color: #f5f5f5;
    align-items: center;
}

.about img {
    width: 400px;
    border-radius: 12px;
    margin-top:30px;
    border: 1px solid rgba(0, 0, 0, 0.292);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.323);
}

.about h2 { 
    margin: 20px 0px;
    font-family: var(--tittleFont2);
    font-size: 2rem;
    text-align: center;

}

.about p { 
    font-family: var(--tittleFont2);
    font-size: 1.1rem;
    margin: auto;
    width: 80%;
    padding: 12px 18px;
    text-align: center;
    text-indent: 10px;
    line-height: 2rem;
    font-weight: 100;
}

.about a {
    color: black; 
    font-weight: bolder;
    text-decoration: none;
    font-style: italic;
}

.about a:hover { 
    text-decoration: underline;
}

.about a::after {
    content: "🔗"
}

section.projects { 
   text-align: center;
   margin-top: 50px;
   
}

.projects ul { 
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.projects li { 
    border: 1px solid rgba(0, 0, 0, 0.932);
    padding: 6px 8px;
    border-radius: 12px;
    color: black;
    font-family: var(--textFont);
    font-size: 0.8rem;
}

.cards { 
    border: 1px solid rgba(0, 0, 0, 0.059);
    width: 400px;
    height: 400px;
    padding: 12px;
    margin: auto;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
}

.container-cards { 
    margin: auto;
    width: 100%;

}

.container-cards a {
    color: black;
    text-decoration: none;
    width: 100%;

}

.container-cards .cards:hover {
    transform: scale(1.01);
    border: 1px solid rgba(0, 0, 0, 0.125);

}

.cards img {
    width: 80%;
    height: 150px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 12px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.238);
}

.cards p { 
    margin-top: 30px;
    font-family: var(--textFont);
    font-size: 1.1rem;
    font-weight: 100;
}

.more-projects { 
    margin: 40px 0px;

}

.more-projects > a { 
    padding: 14px 20px;
    border: 1px solid rgba(0, 0, 0, 0.085);
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.projects  a:hover { 
   background-color: #dad8d891;
   transform: scale(10);

}

section.contact { 
    border-top: 1px solid #dad8d8;
    text-align: center;
    width: 100%;
}

.contact h2 { 
    font-weight: 500;
    font-family: var(--tittleFont2);
    padding: 12px;
}

section.contact p {
    padding: 12px;
    font-family: var(--textFont);

}

footer { 
    background-color: #fafafa;
    text-align: center;
    
}

footer p { 
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid #dad8d8;
}
